.entry-footer {
  border-top: 1px solid #b9b7b7;
  padding: 10px 0px;
}

.cat-links::before, .tags-links::before, .comments-link::before {
  display: inline-block;
  font: normal 16px 'dashicons';
  margin-right: 5px;
}

.cat-links::before {
  content: "\f318";
}

.tags-links::before {
  content: "\f323";
}

.comments-link::before {
  content: "\f101";
}

.edit-link {
	margin-right: 5px;
}
