.widget {
	background: #f5f2f2;
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		margin-left: 20px;
	}
}

.widget-title {
	height: 50px;
	margin-top: 0px;
	padding: 10px;
}

.widget_search {
	background: none;
}
